p-panel >>> .ui-panel {
    margin-top: 1em;
    width: 98%;
    min-height: 300px;
}
  
.ui-g {
    padding: 4px;
}
  
#statistics {
    width: 300px;
    color: white;
    text-align: center;
    font-family: "Helvetica";
    background-color: #0AE6DB;
}

.icon{
    font-size: 80px;
    margin: 0px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.value{
    font-size: 40px;
}

.label{
    text-transform: uppercase;
}

.data{
    padding: 1em;
    vertical-align: middle;
}